<!DOCTYPE html>
<html>
  <head>
    <title>Duo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <ul class="nav nav-tabs">
      <li>  <%= link_to "Home", welcome_index_path %></li>
<li>  <%= link_to "About", welcome_about_path %></li>
<li>  <%= link_to "contact", welcome_contact_path %></li>
<li><%= link_to "Features", welcome_features_path %></li>
      <li>  <%= link_to "Login", welcome_login_path %></li>
<li>  <%= link_to "Invoices", invoices_path %></li>
      </ul>

    <%= yield %>
    </div>
  </body>
</html>
