<!DOCTYPE html>
<html>
  <head>
    <title>Duo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <ul class="nav">
           <li class="active"><%= link_to "HOME", welcome_index_path %></li>
              <li class="active"><%= link_to "ABOUT", welcome_about_path %></li>
           <li class="active">  <%= link_to "CONTACT", welcome_contact_path %></li>
             <li class="active"><%= link_to "FEATURES", welcome_features_path %></li>
             <li class="active"><%= link_to "LOGIN", welcome_login_path %></li>
             <li class="active"><%= link_to "INVOICES", invoices_path %></li>
        </ul>
       </div>
     </div>
    <%= yield %>
    </div>
  </body>
</html>
