<!DOCTYPE html>
<html>
  <head>
    <title>Duo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Home", welcome_index_path %>
    <%= link_to "About", welcome_about_path %>
    <%= link_to "contact", welcome_contact_path %>
    <%= link_to "Features", welcome_features_path %>
    <%= link_to "Login", welcome_login_path %>
      <%= link_to "Invoices", invoices_path %>
    <%= yield %>
  </body>
</html>
